<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <!--获取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--设置wifi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--glide配置-->
        <meta-data
            android:name="com.common.util.glide.C_CustomGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>